---
layout: default
---
<div class="post">
  <h1 class="post-title">
    <img src="{{ site.author.avatar }}" class="avatar"> {{ page.title }}
  </h1>
  <span class="post-date">{{ page.date | date_to_string }} • {% capture readtime %}{{ page.content | number_of_words | plus:91 | divided_by:180 }}{% endcapture %}
{% if readtime == '0' %} &lt; 1{% else %}{{ readtime }}{% endif %} min. read • <a href="{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.path | split:'/' | last | cgi_escape }}">Read the comments</a></span>
  {% if page.tags.size > 0 %}
      {% assign tags_content  = 'Tagged ' %}
      {% for post_tag in page.tags %}
          {% for data_tag in site.data.tags %}
              {% if data_tag.slug == post_tag %}
                  {% assign tag = data_tag %}
              {% endif %}
          {% endfor %}
          {% if tag %}
              {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ tag.slug }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
              {% assign tags_content = tags_content_temp %}
          {% endif %}
      {% endfor %}
      <span class="post-date">{{ tags_content }}</span>
  {% else %}
      {% assign tags_content = '' %}
  {% endif %}
  {{ content }}
  <div id="disqus_thread"></div>
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
